{% extends 'members/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}


{% block body %}

<style>
  .login {
    margin-top: 150px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>

  <div class="container login">
    <div class="row">
      <div class="col">
        {% if form.errors %}
<p>Your username and password didn't match. Please try again.<br> (If this is your first time trying to log in check your email for confirmation link.)</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<h2>SCU Member Login</h2>
<br>
<form method="post" action="">
{% csrf_token %}
{{form|crispy}}
<!-- <table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table> -->
<br>
<!-- <a href="{% url 'members:profile' %}">Login</a> -->
<input class="btn btn-success btn-sm" type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>
<hr>
{# Assumes you setup the password_reset view in your URLconf #}
<p><a class="btn btn-danger btn-sm" href="{% url 'members:password_reset' %}">Forgot password?</a></p>
<p>Need an account? <a href="{% url 'members:signup' %}">Join SCU</a></p>
</div>
</div>
</div>
{% endblock %}
