{% extends "members/base.html" %}

{% block body %}

<style>
  .login {
    margin-top: 250px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="login">Password Reset</h2>
      <small>Please enter the email address used to create your account.</small>
      <br><br>
        <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
          {{ form.email.errors }}
        {% endif %}

            <p>{{ form.email }}</p>
          <input type="submit" class="btn btn-secondary btn-sm mr-2" value="Reset password">
          <a class="btn btn-warning btn-sm" href="{% url 'members:login' %}">Back</a>
        </form>
        <br><br>
    </div>
  </div>
</div>
{% endblock %}
