{% extends 'members/base.html' %}

{% block body %}

<style>
#about_page {
  margin-top: 100px;
}
</style>

<div class="container" id="about_page">
  <div class="row">
    <div class="col">

      <h3>Mission</h3>
      <br>
      <p>To create, build and promote healthy thriving businesses within the black community, to positively
        contribute to the economic empowerment, growth and development of the black community for this
        generation and future generations.</p>
        <br>
        <h3>Vision</h3>
        <br>
        <p>To see an increase in communities where black businesses thrive and the underserved are economically
          empowered</p>

          <h3>Goals</h3>
          <br>
          <p>To provide economic empowerment to the black community</p>
          <br><br><br>


        </div>
      </div>
    </div>

    <br class="mb-6">


    {% endblock %}
