{% extends 'members/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<script type="text/javascript">

</script>

<style>
  .profile {
    margin-top: 100px;
  }
  .account-img {
    width:15%;
  }

form {
  display: none;
}

#formButton {
  display: block;
}
</style>
<script type="text/javascript">
function success() {
	 if(document.getElementById("address").value == "") {
            document.getElementById('button').disabled = true;
        } else {
            document.getElementById('button').disabled = false;
        }
    }
</script>

<div class="container profile">
  {% if messages %}
      {% for message in messages %}
          {% if message.tags == 'success' %}
              <div class="alert alert-success" role="alert">{{ message|escape|safe }}</div>
          {% elif message.tags == 'error' %}
              <div class="alert alert-danger" role="alert">{{ message|escape|safe }}</div>
          {% endif %}
      {% endfor %}
  {% endif %}
  <br>
  <div class="row">
      <div class="col">
        <div class="content-section">
          <div class="media">
            <img class="rounded-circle account-img mr-4" src="{{ user.profile.image.url }}" alt="">
            <div class="media-tbody">
              <h2 class="account-heading">{{user.username}}</h2>
              <p class="text-secondary">{{user.first_name}} {{user.last_name}}</p>
              <p class="text-secondary">{{user.email}}</p>
              {% if user.profile.address %}
              <p class="text-secondary">{{user.address.street}}</p>
              <p class="text-secondary">{{user.address.city}}, {{user.address.state}}</p>
              {% else %}
              <p class="text-secondary">(Please update profile and add your address.)</p>
              {% endif%}
              <button onclick="toggle_visibility('save-form', 'show-form');" class="btn btn-warning" type="button" id="show-form">Update Profile</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  <br><br>
  <form id="save-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group" onkeyup="success()" id="address">
      <legend class="border-bottom mb-4">Profile Info</legend>
      {{user_form|crispy }}
      {{profile_form|crispy }}
      {{address_form|crispy }}
    </fieldset>
    <div class="form-group">
      <button id="button" onclick="toggle_visibility('save-form', 'show-form');" class="btn btn-success validate" type="submit" disabled>Update</button>
    </div>
  </form>
</div>
<br><br><br><br><br><br>
<br>


{% endblock %}
