{% extends "members/base.html" %}
{% load static %}

{% block body %}

<style>
    .programs {
        margin-top: 100px;
        text-align: center;
    }
</style>
<div class="jumbotron jumbotron-fluid programs"  style="color: #f8f9fa;font-weight: bolder;background: green;">
    <div class="container">
      <h1 class="display-4">SILVER CITY UPRISING PROGRAMS</h1>
      <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
    </div>
  </div>
<div class="container">
    <div class="row">
        <div class="col">

            <hr>
            <p>All SCU members will have access to the
                services based on the provisions of each program.  There is no preferential treatment given to any one
                member.   All members can sign up for programs as long as there are funds and space and they meet the
                provision set for each program.  Approval for some programs may be based on their business plan,
                financial plan, financial circumstances and/or background checks for babysitting.  Board of Directors and
                paid Staff members are not beneficiaries of Silver City Uprising’s programs.</p><br>


                <h2>GRANTS PROGRAM</h2>
                <small>(based on available funds for current fiscal year)</small>

                <ul>
                    <li>Struggling Businesses
                        <ul>
                            <li>Members with their own business will receive financial assistance to get them out of
                            debt and back on track in the competitive market as long as funds are available.</li>
                            <li>Member must take the financial literacy training course.</li>
                            <li>Must present a plan that is sustainable and will keep them out of debt.</li>
                            <li>Must present a valid cash flow and expenditure sheet.</li>
                            <li>Board of directs vote in a quorum manner for approval.</li>
                            <li>Any such grant that gets denied can be reviewed for another quorum.</li>
                        </ul>
                    </li>
                    <li>Education
                        <ul>
                            <li>Students who overcome the odds will qualify for a grant, whose parents are members, if
                            they are designated as a kid who is most improved by the school social worker (student
                            must bring grades up from an F to a C or better to be recognized as most improved).
                            Grants will be distributed on a first come first serve basis as long as funds are available.
                            Grant amounts will be determined by available funds for this program.  The list will
                            continue to accept students until funds have been exhausted.  A dinner will be set up forstudents and family members at which the students will receive their grant check to be
                            used for educational needs.  Parents must provide SCU with a receipt to validate that
                            funds were used according the grant guidelines.  (acceptable items, school uniform,
                            school supplies, college fund, summer camp)</li>
                        </ul>
                    </li>
                    <li>Start-up Businesses
                        <ul>
                            <li>
                              Members can pitch their plan and if it is approved, applicant will receive a grant to help
                              them get started on the road to a successful business as long as funds are available.
                            </li>
                            <li>A quorum vote is need to approve.  If denied staff will work with member to come up
                            with a better plan.  Member can make a second request.</li>
                        </ul>
                    </li>
                    <li>Foreclosure Prevention
                        <ul>
                            <li>
                              Members can apply for grants to save their home as long as funds are available.  If
                              funding is not available SCU will search for funds for them or some kind of federal
                              assistance.
                            </li>
                        </ul>
                    </li>
                    <li>Business Technology Upgrades
                        <ul>
                            <li>
                              Members whose technology needs to be updated to keep up with the mainstream
                              market can apply for a grant as long as funds are available.  A quorum vote is required
                              for approval or denial.
                            </li>
                        </ul>
                    </li>
                    <li>Sports Training and Membership
                        <ul>
                            <li>
                              Members whose children are into sports that achieve academic excellence can be
                              nominated for a grant for one on one training from a personal trainer in select sports
                              such as basketball, baseball, volley ball and soccer as long as funds are available.
                              Selection will be on a case by case and at the discretion of the Board.
                            </li>
                        </ul>
                    </li>
                    <li>Grants for leisure such as vacations and day trips, weddings, special celebrations for volunteers
                        <ul>
                            <li>
                              Members who have been volunteering at the most events can put a request for leisure
                              funds.  It is an incentive to attract more people to get involved with the movement as
                              long as funds are available.  The selected candidate will be based on a lottery.
                            </li>
                        </ul>
                    </li>
                    <li>Eviction Prevention
                        <ul>
                            <li>
                              Members can apply for funds to keep them in their apartment based on a successful
                              application.  Any member found to be intentionally not paying their rent with the intent
                              to defraud SCU will not receive the grant. Such will be grounds for removal from the
                              program.  Members bill payment history will be reviewed.  In order to decrease
                              homelessness SCU will excise all avenues to reach the best outcome.
                            </li>
                        </ul>
                    </li>
                    <li>Utility Assistance
                        <ul>
                            <li>
                              On an emergency only, members can apply for assistance with paying utilities to restore
                              services, as long as funds are available. A review of bill payment history will be need to
                              make a decision on granting assistance along with a written letter of explanation.
                            </li>
                            <li>Member will be required to take SCU’s financial literacy training course.</li>
                        </ul>
                    </li>
                </ul>


                <h2>VOLUNTEER TASK FORCE</h2>
                <small>(Made up of members and the public who have passed a background check)</small>

                <ul>
                  <li>Lawn Services
                      <ul>
                          <li>Members receive free lawn cuts, garden grooming and plants as long as volunteers and
                          equipment are available to SCU.
                        </li>
                      </ul>
                  </li>
                    <li>Neighborhood cleanup (raking leaves, remove dead or dying trees, pick up garbage, provide
                    garbage bins, remove abandoned furniture, cut overgrown brush etc.) as long as volunteers and
                    equipment is available to SCU.
                        <ul>
                            <li>
                              Members can put in for a request to have their neighborhood cleaned up by our
                              volunteer task force.  This will be done on a first serve bases.
                            </li>
                            <li>
                              Members can recommend and put in a request for other black neighborhoods that are
                              in need of a cleaning
                            </li>
                        </ul>
                    </li>
                    <li>Food assistance
                        <ul>
                            <li>
                              Volunteer staff will be available to retrieve food from SCU’s pantry 24 hours for members
                              who have children to fulfill emergency late-night hour requests. Request must be
                              justified. (example emergency... baby needs food, formula, milk) as long as such items
                              are available to SCU they will be made available to members.
                            </li>
                            <li>Food will be provided upon request without explanation during business hours of
                            operation as long as food is available to SCU.</li>
                        </ul>
                    </li>
                    <li>Internships
                        <ul>
                            <li>
                              SCU is committed to education and will participate in the college internship program.
                            </li>
                            <li>Interns will be provided with proof of completed hours and they have met the
                            instructions required guidelines.  Institution must provide SCU with requirements that
                            the student must fulfill in their daily internship in order to receive recognition form such
                            institution (examples of institutions but not limited to Schools, Colleges, Employment)</li>
                        </ul>
                    </li>
                    <li>2-hour Babysitter Relief
                        <ul>
                            <li>Members who need a mental health break may sign up for available babysitting hours.
                            Members are allotted 2 hours from an approved volunteer of SCU as long as volunteers
                            are available.  A calendar will be available to members so they can view who is available
                            and they may submit their request online. Staff will monitor calendar and notify volunteer that someone requested their services.  Staff will confirm with member.
                            Members are entitled to only one 2 hr. request per both.  Babysitters will be given
                            preferential selection based on their desire to work with children after graduation,
                            currently studying child development, work in the field of youth Services or have an
                            interest in running a daycare.  Must past background check and DCF registry clearance.</li>
                        </ul>
                    </li>
                </ul>

                <h2>HOUSING</h2>

                <ul>
                    <li>Temporary affordable housing for low income members (As long as SCU has available units)
                        <ul>
                            <li>Members will receive training on how to save money, building equity through
                                investments and how to live within their means to decrease financial insecurities.</li>
                            <li>Members will be allowed to apply for temporary housing under certain guidelines.
                            Tenant selection and occupancy policies permit SCU to examine an applicant’s history, including criminal
                            background, to ensure selection of a responsible tenant.  SCU has the power to deny admission to
                            individuals with a history of use or abuse of drugs or alcohol, or of criminal behavior that interferes with
                            the peaceful enjoyment of the premises by other residents.  Eligibility for assistance under SCU programs
                            are limited to U.S. citizens who are members of SCU.  SCU Program participants are also required to
                            submit household income documentation each year to determine continued eligibility in the program.
                            This process is called the annual review.  Tenant understands that the lease renewal process cannot
                            exceed a period of 3 years unless an extension is granted by SCU’s board of directors. SCU will provide
                            temporary affordable housing to SCU members who meet the minimum requirements on a first come
                            first serve basis as long as housing is available and tenants are committed to achieving the one or more of the following goals:
                            <ul>
                              <li>GED or High School Diploma</li>
                              <li>Training classes / programs</li>
                              <li>Getting a CT Driver’s License</li>
                              <li>Budgeting</li>
                              <li>Becoming debt free</li>
                              <li>Home Buyer Education</li>
                              <li>Attend college for a certificate or degree</li>
                              <li>Purchasing a car</li>
                              <li>Repair or build a good credit score</li>
                              <li>Saving Money (proof of an untouchable account for the term of the lease must be provided and
                              tent must be able to afford to put away $50 a paycheck in such account in addition to paying $300 a
                              month for rent and utilities)</li>
                              <li>Buying a House</li>
                            </ul>
                          </li>
                        </ul>
                    </li>
                </ul>
                <br><br><br><br>
        </div>
    </div>
</div>

{% endblock %}
