{% extends 'members/base.html' %}
{% load crispy_forms_tags %}
{% block body %}

<style>
#signup {
  margin-top: 100px;
}
h2 {
  font-family: sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
</style>

<div class="container" id="signup">
  <div class="row">
    <div class="col">
      {% if username %}
      <center>
          <h2>Thanks {{ username }}!</h2>
          <p>We received your information and will get back you soon.</p>
      </center>
      <br><br><br>
      {% else %}

      {% if messages %}
          {% for message in messages %}
              {% if message.tags == 'success' %}
                  <div class="alert alert-success" role="alert">{{ message|escape|safe }}</div>
              {% elif message.tags == 'error' %}
                  <div class="alert alert-danger" role="alert">{{ message|escape|safe }}</div>
              {% endif %}
          {% endfor %}
      {% endif %}

  <h2>Join SCU Today!</h2>
  <form method="post">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4"></legend>
      {{form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-success" type="submit">Join Us</button>
    </div>
  </form>
  <br>
  <p>Already have an account? <a href="{% url 'members:login' %}">Log in</a></p>
  {% endif %}
  <br><br>
</div>
</div>
</div>
{% endblock %}
